* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "Open Sans", sans-serif;
  color: #1b1b1b;
}

body {
  box-sizing: border-box;
  background-color: #f5f4f0;
}

p {
  text-align: justify;
}

#container {
  width: min(1120px, calc(100% - 48px));
  margin: 80px auto 48px;
}

main {
  width: 100%;
  margin-bottom: 65px;
}

.headline {
  color: #e1624f;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  line-height: 22px;
}

h1 {
  margin: 8px 0 40px;
  font-size: 2.25rem;
}

img {
  border-radius: 28px;
  width: 100%;
}

.legenda {
  margin-top: 24px;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  color: #333333;
  line-height: 22px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #d9d9d9;
  margin-top: 40px;
}

#highlights {
  margin-top: 65px;
}

h2 {
  font-size: 2rem;
}

#title-list h2 {
  margin: 2px 0 8px;
}

ul {
  margin-top: 64px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

li h3 {
  font-size: 1.75rem;
  margin: 10px 0 4px;
  padding-left: 4px;
}

#final-description p {
  text-align: center;
  margin-top: 40px;
}

footer {
  width: 100%;
  font-family: "Alice", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: 0 auto 48px;
}

footer span {
  text-wrap: nowrap;
}

footer img {
  width: 1rem;
}
